<div class="mx-auto max-w-sm">
  <.header class="text-center">Confirm account</.header>

  <.comment_form for={@conn.params["user"]} as={:user} action={~p"/users/confirm/#{@token}"}>
    <:actions>
      <.submit_comment_button>Confirm my account</.submit_comment_button>
    </:actions>
  </.comment_form>

  <p class="text-center mt-4">
    <.link href={~p"/users/register"}>Register</.link>
    | <.link href={~p"/users/log_in"}>Log in</.link>
  </p>
</div>
