<h1 class="text-3xl mb-5 bg-color-welcome border-4 border-black chunky-shadow text-center font-bold text-6xl p-6 font-inter">Welcome!</h1>
<div class="bg-color-post mx-8 border-4 border-black chunky-shadow p-5">
<h2 class="mb-5 text-3xl font-semibold italic font-inter"> This is Post It! </h2>
<p class="font-inter">Learn the secrets of Phoenix that Chris McCord doesn't want you to know.</p>
<p class="font-inter">Now featuring posts in <i>Russian</i></p>
</div>