<.post_title class="bg-color-post-title">Edit Post</.post_title>
<.post_form changeset={@changeset} action={~p"/posts/#{@post}"} tag_names={@tag_names} />

<.back navigate={~p"/posts"}>Back to posts</.back>
